<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  
    <header>
        <nav class="navbar navbar-expand-lg navbar-light p-2">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img class="Avatar" src="/img/Avatar.jpeg" value = "1" id="tema" width="50" height="50">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle p-2 text-white boton me-2 ms-2 mt-2 mb-2" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Usuario
                    </a>
                    <ul class="dropdown-menu p-2 text-white" aria-labelledby="navbarDropdown">
                      <li id="panel-de-control" hidden><a class="dropdown-item" href="/adminpanel/paneldecontrol.html">Panel de control</a></li>
                      <li id="separador-admin" hidden><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" id="logout_btn">Cerrar sesión</a></li>
                    </ul>
                  </li>
                  <li class="d-flex nav-item dropdown" id="filterDropdown">
                    <a class="order-3 nav-link dropdown-toggle p-2 text-white boton me-2 ms-2 mt-2 mb-2 bx bx-filter icon" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Filtros 
                    </a>
                    <ul class="dropdown-menu p-2" aria-labelledby="navbarDropdown">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                        <label class="form-check-label" for="flexCheckDefault">
                          Categoria 1
                        </label>
                      </div>
                    </ul>
                  </li>
                </ul>
                <form class="suya bx bx-search icon">
                  <input id="searchBar" type="text" placeholder="Buscar">
                </form>
              </div>
            </div>
          </nav>
    </header>
    
    <main class="cuerpo">
      <div class="album py-5">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id = "cardContainer">

            <div class="col" id="card1">
              <div class="card shadow-sm mb-3">
                <iframe class ="" width="100%" height="225" src="https://www.youtube.com/embed/_B-8iqcHed8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="card-body">
                  <p class="card-text">Título del video</p>
                </div>
                <div class="tag-categoria">
                  <label class="tag-cateroria-text" style="cursor: pointer;">Música clásica</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <ul class="footer-ul">
        <li><a class="footer-a" href="mailto: carlos.gonzalez@edu.upct.es">Carlos</a></li>
        <li><a class="footer-a" href="mailto: franciscojavier.fernandez@edu.upct.es">Javi</a></li>
        <li><a class="footer-a" href="https://github.com/daperber/grupo1.git">Github</a></li>
        <li><div class="frog"><a class="footer-a" href="https://es.wikipedia.org/wiki/Sargento_Keroro">🐸</a></div></li>
      </ul>
    </footer>

</body>
</html>